@import url('http://fonts.cdnfonts.com/css/common-pixel');

* {
    margin: 0;
    padding: 0;
    color: gold;
    text-shadow: -0.1ex 0.1ex 0 black, 0.1ex 0.1ex 0 black, 0.1ex -0.1ex 0 black, -0.1ex -0.1ex 0 black;
    font-family: 'Common Pixel', sans-serif;
    text-align: center;
}

#game-over-contents, #pause-menu-contents {
    top: 10%;
    bottom: 10%;
    left: 15%;
    right: 15%;
    position: fixed;
    margin: auto;
}

.menu-title {
    text-shadow: -0.1ex 0.1ex 0 darkgoldenrod, 0.1ex 0.1ex 0 darkgoldenrod, 0.1ex -0.1ex 0 darkgoldenrod, -0.1ex -0.1ex 0 darkgoldenrod;
    font-size: 8vw;
    margin: 5vh;
}

.menu-button {
    top: 10%;
    margin: 2% auto;
    width: 30%;
    padding: 3vmin;
    font-size: 3.5vw;
    border: 1vmin solid gold;
    color: white;
    background-color: rgba(128, 128, 128, 0.3);
}

.menu-button:hover {
    background-color: rgba(128, 128, 128, 0.5);
}

canvas, body {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
}

#endScreen {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
