@import url('http://fonts.cdnfonts.com/css/common-pixel');

* {
    margin: 0;
    padding: 0;
    color: gold;
    text-shadow: -0.1ex 0.1ex 0 black, 0.1ex 0.1ex 0 black, 0.1ex -0.1ex 0 black, -0.1ex -0.1ex 0 black;
    font-family: 'Common Pixel', sans-serif;
    text-align: center;
}

#game-over-menu {
    position: fixed;
}

canvas, body {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
}

#endScreen {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
