* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("pics/Astroland.png");
    background-repeat: no-repeat;
    background-size: cover;
}

div {
    width: 320px;
    height: 80px;
    margin-bottom: 40px;
}

.play {
    background-image: url("pics/buttonplay.png");
}

.play:hover {
    background-image: url("pics/buttonplayhover.png");
}

.info {
    background-image: url("pics/buttoninfo.png");
}

.info:hover {
    background-image: url("pics/buttoninfohover.png");
}

.about {
    background-image: url("pics/buttonabout.png");
}

.about:hover {
    background-image: url("pics/buttonabouthover.png");
}

section {
    position: absolute;
    top: 350px;
    left: 42.5%;
}